$brand-danger: #FB5A73;
$color-white: #FFFFFF;
$color-blue: #247BA0;
$link-color: $brand-danger;
$link-color-active: $color-blue;


$text-primary: #0A435A;
$text-danger: $brand-danger;
$text-white: $color-white
